.ag-theme-alpine {
  --ag-header-column-resize-handle-height: 100%;
  --ag-odd-row-background-color: #e1f5fea8;
}

.row_spacing {
  margin: 10px 0;
}

.ag-theme-alpine .ag-text-field-input {
  color: black !important;
}

.ag-theme-alpine .ag-header {
  background: rgb(236, 239, 241);
  background: linear-gradient(
    0deg,
    rgb(236, 235, 235) 1%,
    rgba(236, 239, 241, 0.521) 50%
  );
}

.ag-paging-panel {
  height: 30px;
}

.input_size {
  width: 30ch;
  margin: 12px 10px;
}

.large_input_size {
  width: 96ch;
  margin: 12px 8px;
}

.invalid_input {
  border: 1px solid red;
}

.table_container {
  border: 1px solid #cfd8dc;
  margin: 10px;
  border-radius: 4px;
}

.table_container_header {
  background-color: rgba(236, 239, 241, 0.239);
  border-bottom: 1px solid #cfd8dc;
  padding: 8px 4px;
}

.table_container_body {
  padding: 6px;
}

.table_tool_bar {
  padding: 4px 12px;
  border: 1px solid #b9bec0;
  background-color: #eceff1;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.table_grid_search_bar {
  height: 12px;
  padding: 8px 2px;
  width: 15ch;
}

#search-addon {
  height: 10px;
  padding: 2px 12px;
  border: 1px solid rgba(0, 0, 0, 0.397);
}
.table_grid_search_bar:focus {
  outline: none;
}

.inputs_conteiner {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #cfd8dc;
  margin: 10px;
  padding: 4px 4px 8px 4px;
}

*::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: rgb(133, 131, 131);
}

.value_changed {
  background: #d6f7b296 !important;
  border: 1px solid green;
}
